{% extends 'base.html' %}
{% load static %}

    {% block title %}Posts - NouaraCenter{% endblock title %}

    {% block postactive %}active{% endblock postactive %}

            {% block link %}
                <a class="btn btn-primary btn-xl rounded-pill mt-5" role="button" href="https://www.facebook.com/NouaraCenter/">صفحة مركز نوارة للفايسبوك</a><br>
            {% if user.is_authenticated %}
                {% if perms.posts.posting %}
                    <a class="btn btn-primary btn-xl rounded-pill mt-5" role="button" href="{% url 'create' %}">إرفع منشور</a>
                {% endif %}
            {% endif %}    
            {% endblock link %}
        

    {% block text1 %}جميع منشورات مركزنا{% endblock text1 %}
    {% block text2 %}يمكنك رؤية المزيد في صفحتنا الفايسبوك{% endblock text2 %}

{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        html,body {
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
          overflow-x: hidden;
    
        }
    
        .center1 {
            text-align: center;
        }

        .center {
            margin: auto;
            width: 400px;
            padding: 5px;
        }
    
    </style>
    {% if posts == 0 %}
        <h1 class="center1 mt-3">لا توجد منشورات</h1>
    {% endif %}
    {% for post in post_list %}
      <div class="card center mt-3 mb-5">
        <div class="card-header"><strong>{{ post.uploader }}</strong> :صاحب المنشور</div>

        <div class="card-body">
            {% if post.image %}
                <img src="{{ post.image.url }}" class="card-img-top">
            {% endif %}
            <p class="card-text mt-2"><hr> {{ post.description }}</p>
        </div>

        
            

            <div class="card-footer">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <form action="{% url 'like-post' %}" method="POST">
                        
                        {% csrf_token %}
                        <!-- <h1></h1> -->

                        {% if user.is_authenticated %}
                            <strong>{{ post.likes.all.count }} إعجابات - </strong>
                            <input type="hidden" name="post_id" value="{{ post.id }}">
                            {% if user not in post.likes.all %}
                            <!-- <button class="btn btn-outline-primary btn-sm rounded-pill ui button positive" type="submit">إعجاب</button> -->
                            <button id="like" class="btn btn-outline-secondary" onclick="liked()">
                                <i class="fa fa-thumbs-up"></i>
                                <!-- <span class="icon">الإعجاب</span> -->
                            </button>
                            {% else %}
                            <!-- <button class="btn btn-outline-danger btn-sm rounded-pill ui button negative" type="submit">إلغاء الإعجاب</button> -->
                            <button id="like" class="btn btn-outline-primary ui button negative" onclick="liked()">
                                <i class="fa fa-thumbs-up"></i>
                                <!-- <span class="icon">إلغاء الإعجاب</span> -->
                            </button>
                            {% endif %}
                        {% else %}
                        
                        <strong>للإعجاب يجب تسجيل الدخول</strong>
                        <strong> - {{ post.likes.all.count }} إعجابات</strong>
                        
                        {% endif %}
                        </form>
                    </div>
                    <hr>
                    <p>
                {% if post.comments.count != 0 %}
                    {% if user.is_authenticated %}
                        <a href="{% url 'comments' post.pk %}"><button type="button submit" class="btn btn-outline-success rounded-pill ">التعليقات...</button></a>
                        - {{ post.comments.count }}    
                    {% else %}
                        <a href="{% url 'login' %}"><button type="button submit" class="btn btn-outline-success rounded-pill ">التعليقات...</button></a>
                        - {{ post.comments.count }}    
                    {% endif %}
                {% else %}
                {% if user.is_authenticated %}
                <a href="{% url 'comment' post.pk %}"><button type="button submit" class="btn btn-outline-success rounded-pill ">تعليق</button></a>
                ليس هناك تعليقات, أضف 
                {% else %}
                <a href="{% url 'login' %}"><button type="button submit" class="btn btn-outline-success rounded-pill ">تعليق</button></a>
                ليس هناك تعليقات, أضف 
                {% endif %}
                {% endif %}
                </p>
                </div>
                
                    
            {% if user.is_authenticated %}

            {% if perms.posts.posting %}
                <div class="card-footer">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="{% url 'update' post.id %}"><button type="button submit" class="btn btn-outline-success rounded-pill ">تحديث</button></a>
                        <a href="{% url 'delete' post.id %}"><button type="button submit" class="btn btn-outline-danger rounded-pill">حذف</button></a>
                    </div>
                </div>
            {% endif %}
        {% endif %}
      </div>
    {% endfor %}

    <script>
        function liked(){
          var element = document.getElementById("like");
          element.classList.toggle("liked");
        }
      </script>
    
    <style>
    
        button {
        background: #fff;
        border: unset;
        outline: 0;
        font-size: 18px;
        cursor: pointer;
        color: #65676b;
        padding: 5px 10px;
        }
        button.liked {
        color: #0571ed;
        }
        button.liked i{
        animation: anim 0.5s ease-in-out;
        -webkit-animation: anim 0.5s ease-in-out;
        }
    
        @keyframes anim {
        100% {
            transform: rotate(-15deg) scale(1.3);
            -webkit-transform: rotate(-15deg) scale(1.3);
            -moz-transform: rotate(-15deg) scale(1.3);
            -ms-transform: rotate(-15deg) scale(1.3);
            -o-transform: rotate(-15deg) scale(1.3);
            filter: blur(0.5px);
            -webkit-filter: blur(0.5px);
        }
        }
      </style>
{% endblock body %}
    